.top-nav{
    background-color: #3a4452;
    height: 40px;
    text-align: right;
}
.top-nav .Link{
    font-size: 18px;
    padding-left: 10px;
    text-decoration: none;
    color: #fff;
    text-align: right;
}